<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Pet & Gatô</title>
</head>
<body>

    <!--Aqui inicia o cabeçalho-->
    <header>

        <div id="topo_do_site">
            <img src="/imagens/logosite.png" alt="logo do site">
            <h1>Pet & Gatô</h1>
        </div>


        <!-- Ínicio da área de navegação-->
        <nav>
            <ul>
                <li><a href="sobre.html">Sobre Nós</a></li>
                <li><a href="contatos.html">Contatos</a></li>
                <li><a href="Profissionais.html">Nossos profissionais</a></li>
            </ul>
        </nav>
        <!--Término da área de navegação-->

    </header>
    <!--Aqui terminas o cabeçalho-->

    <section>

        <div id="info">

            <h2>Bem-vindo ao Pet & Gatô - O paraíso dos pets!</h2>

            <p>Olá, amantes de pets! Sejam bem-vindos ao "Pet & Gatô", o seu destino definitivo para cuidar e mimar o seu animalzinho. <br>
                No Pet & Gatô, acreditamos no bem-estar animal. Comprometemo-nos a criar um ambiente seguro e acolhedor para seus amigos de quatro patas. Sua felicidade é a nossa prioridade.
            </p>

            <div class="area_anuncios">
                <div class="anuncios">
                
                    <img class="imagens" src="imagens/imgbut1.png" alt="imagem da opção de serviços">
                    <p>Banho e tosa</p>
                    <p>Banho, hidratação, tosa higiênica, tosa de cachorros de diversas raças e outros serviços feitos por profissionais parceiros especialistas no assunto.</p>
                    <button>Agende online</button>

                    
                        <form action="/criar" method="post">
                            <input class="boton" type="text" placeholder="Nome Completo" name="nome_mm">
                            <input class="boton" type="text" placeholder="CPF" name="cpf">
                            <input class="boton" type="email" placeholder="Email principal" name="email">
                            <input class="boton" type="tel" placeholder="Telefone ou celular" name="telefone">
                            <input class="boton_dois" id="btn_sub_mat" type="submit" value="">
                        </form>
                    

                
                </div>

                
                    <div class="anuncios">
                        <img class="imagens" src="imagens/imgvetbut2.png" alt="imagem botão dois">
                        <p>A saúde do seu melhor amigo em boas mãos, consultas, exames e vacinas com médicos-veterinários parceiros.</p>
                        <button>Excluir agendamento</button>

                        <form action="excluir" method="delete">
                            <input class="boton" type="text" placeholder="Nome Completo">
                            <input class="boton" type="text" placeholder="CPF">
                            <input class="boton" type="email" placeholder="E-mail">
                            <input class="boton" type="tel" placeholder="Telefone ou Celular">
                            <input class="boton" type="datetime" placeholder="Data">
                            <input class="boton_dois" id="btn_sub_age" type="submit" value="Excluir agenda">
                        </form>

                       

                    </div>
            </div>
            

        </div>

        <div id="foto_principal">
            <img src="imagens/imagemprinci.png" alt="foto principal do site">
            <p>Venha já nos conhecer!</p>
        </div>
    </section>
</body>
</html>